@media (max-width:800px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1%;
    }
    .menü-logo {
        display: flex;
        padding: 0 0;
        margin: 0 0;
    }
    .menulogo {
        margin: 0 0;
        padding: 0 0;
    }
    header button {
        margin: 0 0;
    }
    .white-button {
        background-color: rgba(222, 222, 222, 0.587);
    }
    .section1 {
        margin-top: 21.5%;
        text-align: center;
        height: auto;
        margin-bottom: 0 ;
    }
    .main-head {
        font-size: 10vh;
    }
    .main-button {
        height: 10vh;
        width: 20vh;
        font-size: 20px;
    }
    .main-text {
        padding-bottom: 11vh;
        margin-bottom: 0;
    }
    .section2 {
        margin-top: 0;
        height: auto;
    }
    .section5 {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 10%;
    }
    .section5 img {
    height: 9%;
    
    }
}